html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: #03A9F4;
	overflow-x: hidden;
	font-family: 'Shadows Into Light Two', cursive, sans-serif;
	font-size: 7.5vmin;
	text-align: center;
}

header {
	position: absolute;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Shadows Into Light', cursive, sans-serif;
	margin-bottom: 0;
}

h1 {
	font-size: 10vw;
	margin-top: 5vh;
}
h2 {
	font-size: 8vw;
	margin-top: 5vh;
}
p {
	margin: 0;
}
p.margin {
	margin-bottom: 5vh;
}

#gSignIn {
	margin: 1em 0 0 0;
}

#filegroup{
	margin: 1em 0 0 0;
}
button,
#fileup {
	cursor: pointer;
	color: #FFF;
	background-color: #0288D1;
	padding: 0.8em 1.2em;
	border: none;
	font-family: 'Shadows Into Light Two', cursive, sans-serif;
	font-size: 0.8em;
	border-radius: 8px;
	max-width: 70%;
	overflow: hidden;
}
button:hover,
#fileup:hover {
	box-shadow: 0 0 1.1em rgba(0,0,0,0.24);
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.info {
    display: inline-block;
	float: right;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 0.8ex;
	font-weight: bold;
    border-radius: 50%;
    padding: 1ex;
    border: 1px solid;
    text-decoration: none;
	margin: 1vw;
}

.fixed {
	margin: 0 auto;
	max-width: 920px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vert-center {
	justify-content: center;
}

.hidden {
	display: none;
}
